.students-container {
  padding: 30px;
}

.attendance-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

.students-nav {
  display: flex;
  justify-content: space-between;
  background: gray;
  color: #fff;
}

.students-nav div {
  width: 15%;
  text-align: center;
}

.rows {
  height: 80vh;
  overflow: auto;
}

.empty-table {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.student-table {
  display: flex;
  justify-content: space-between;
}

.student-table div {
  width: 15%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-wrapper {
  padding: 5px 0;
}

.student-wrapper:nth-of-type(even) {
  background: #d6d9da54;
}

.student-name {
  position: relative;
  display: flex;
  flex: 2;
  text-align: left;
}

.school-name {
  display: flex;
  flex: 1;
  justify-content: center;
}

.center {
  justify-content: center;
}

.details-container {
  position: absolute;
  top: -3px;
  right: 6px;
}

.small-modal {
  margin: 0 auto;
  width: 650px;
  height: 500px;
  margin-top: 25vh;
  background-color: #fff;
  padding: 30px 25px 25px 20px;
  box-shadow: 0px 3px 11px 3px rgba(39,41,43,0.8);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
  z-index: 9999999;
}

.input-container {
  margin-bottom: 1rem;
}

.inputForm {
  width: 10rem;
  height: 1rem;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.button {
  font-size: 0.8rem;
  color: #fff;
  background-color: #0072bb;
  width: 80px;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover, .details-button:hover {
  background-color: #005c96;
}

.details-button {
  font-size: 0.8rem;
  color: #fff;
  background-color: #0072bb;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}
